n8n-workflows/email-issue-collector.json
{
  "name": "Join – AI Issue Collector",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -2608,
        -176
      ],
      "id": "317d687f-cd06-4083-9bfc-99386b2dfab3",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "jHaemlsBGoUY8ru5",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://firestore.googleapis.com/v1/projects/join-c7e60/databases/(default)/documents/system/dailyLimit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2368,
        -176
      ],
      "id": "26148ff9-3519-495a-a157-9a82502283f9",
      "name": "IF: Limit Reached?",
      "credentials": {
        "googleApi": {
          "id": "qeGbKVHteKp2W2sr",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e2b6732-90d0-4b91-9de4-1dfd97339755",
              "leftValue": "={{ $json.fields.count.integerValue }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2144,
        -176
      ],
      "id": "ff12aba7-8363-45dd-aced-f9db8a9e67ad",
      "name": "IF: Daily limit reached?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "claude-haiku-4-5-20251001"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a project management assistant. \nExtract task information from this support email and return ONLY valid JSON.\n\nEmail content: {{ $('Email Trigger (IMAP)').first().json.textPlain || $('Email Trigger (IMAP)').first().json.textHtml }}\nSubject: {{ $('Email Trigger (IMAP)').first().json.metadata['thread-topic'] }}\nSender: {{ $('Email Trigger (IMAP)').first().json.metadata['return-path'] }}\n\nReturn this exact JSON structure:\n{\n  \"title\": \"short task title (max 60 chars)\",\n  \"description\": \"detailed description of the request\",\n  \"prio\": \"urgent OR medium OR low\",\n  \"dueDate\": \"YYYY-MM-DD (7 days from today if not specified)\",\n  \"category\": \"Technical Task OR User Story\",\n  \"subtasks\": [\"subtask item 1\", \"subtask item 2\"],\n  \"createdBy\": \"sender email address\"\n}\n\nFor subtasks: if the email mentions specific steps, items or tasks to complete, list each as a string in the subtasks array. If none are mentioned, use an empty array [].\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -1888,
        -160
      ],
      "id": "b4bc1923-b25e-4955-80db-96e8a44ce668",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "QEgszQfqwqanplD3",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().slice(0, 10);\nconst aiOutput = $input.first().json;\nconst raw = aiOutput?.message?.content?.[0]?.text \n         || aiOutput?.content?.[0]?.text \n         || aiOutput?.text || '';\n\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) throw new Error('No JSON found in AI response');\n\nconst parsed = JSON.parse(jsonMatch[0]);\n\nconst emailData = $('Email Trigger (IMAP)').first().json;\nconst from = emailData.from;\nlet fromText = '';\nif (typeof from === 'string') { fromText = from; }\nelse { fromText = from?.text || from?.value?.[0]?.name || from?.value?.[0]?.address || ''; }\n\nconst returnPath = emailData.metadata?.['return-path'] || '';\nconst senderEmail = from?.value?.[0]?.address \n                 || fromText.match(/[\\w.-]+@[\\w.-]+\\.\\w+/)?.[0]\n                 || returnPath.replace(/[<>]/g, '').trim()\n                 || '';\n\nconst badTitle = !parsed.title \n    || parsed.title.toLowerCase().includes('no email')\n    || parsed.title.toLowerCase().includes('unable to extract')\n    || parsed.title.toLowerCase().includes('not provided')\n    || parsed.title.trim().length < 3;\n\nif (badTitle) {\n    return [{ json: { valid: false, createdBy: senderEmail } }];\n}\n\nif (!parsed.dueDate || parsed.dueDate < today) {\n    parsed.dueDate = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\n}\n\nconst nameMatch = fromText.match(/^([^<]+)</);\nif (nameMatch) { parsed.createdByName = nameMatch[1].trim(); }\nelse if (fromText.includes('@')) { parsed.createdByName = fromText.split('@')[0]; }\nelse { parsed.createdByName = fromText || ''; }\n\nparsed.createdBy = senderEmail;\nparsed.description = (parsed.description || '') + ' — Dieses Ticket wurde KI-generiert.';\n\nconst subtasksRaw = Array.isArray(parsed.subtasks) ? parsed.subtasks : [];\nconst subtasksForFirestore = subtasksRaw.map(t => ({\n    mapValue: {\n        fields: {\n            title: { stringValue: typeof t === 'string' ? t : (t.title || '') },\n            completed: { booleanValue: false }\n        }\n    }\n}));\n\nconst firestoreBody = JSON.stringify({\n    fields: {\n        title: { stringValue: parsed.title || '' },\n        description: { stringValue: parsed.description || '' },\n        dueDate: { stringValue: parsed.dueDate || '' },\n        category: { stringValue: parsed.category || '' },\n        prio: { stringValue: parsed.prio || '' },\n        status: { stringValue: 'triage' },\n        subtasks: { arrayValue: { values: subtasksForFirestore } },\n        assignedContacts: { arrayValue: { values: [] } },\n        createdBy: { stringValue: parsed.createdBy || '' },\n        createdByName: { stringValue: parsed.createdByName || '' },\n        creatorType: { stringValue: 'external' },\n        aiGenerated: { booleanValue: true }\n    }\n});\n\nreturn [{ json: { ...parsed, valid: true, firestoreBody } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -160
      ],
      "id": "de70f45b-2125-49c6-bf32-daaa6ca9acee",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e53c46c-923b-4f3a-8dd9-b02d822c0eb5",
              "leftValue": "={{ $json.valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1328,
        -160
      ],
      "id": "d1a0b55f-72a2-4172-b95f-78f812593b05",
      "name": "IF: Valid email content?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/join-c7e60/databases/(default)/documents/triage_tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.firestoreBody }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1104,
        -144
      ],
      "id": "0ac363a8-4a73-4dd1-b5f4-c7f3ccd084ca",
      "name": "Firestore: Create Task",
      "credentials": {
        "googleApi": {
          "id": "qeGbKVHteKp2W2sr",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "support@join.dimit.cc",
        "toEmail": "={{ $('Extract Fields').first().json.createdBy }}",
        "subject": "Your request has been received – Join Issue Collector",
        "html": "=<p>Hi {{ $('Extract Fields').first().json.createdByName }},</p>\n<p>Great news! Your request has been successfully received and added to our board as a new ticket.</p>\n<p><strong>Title:</strong> {{ $('Extract Fields').first().json.title }}<br>\n<strong>Priority:</strong> {{ $('Extract Fields').first().json.prio }}<br>\n<strong>Due date:</strong> {{ $('Extract Fields').first().json.dueDate }}</p>\n<p>Our team will review it shortly.</p>\n<p>Best regards,<br>Join Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -880,
        -144
      ],
      "id": "99a8f0c3-5dbc-468d-9e32-d406030e73b0",
      "name": "Email: Confirmation to Sender",
      "webhookId": "1318b4a6-5602-4fcd-857c-61793c562102",
      "credentials": {
        "smtp": {
          "id": "0Joz1qp5sIUQ2zuk",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://firestore.googleapis.com/v1/projects/join-c7e60/databases/(default)/documents/system/dailyLimit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -672,
        -144
      ],
      "id": "5b8ba3ba-98db-4f97-8193-f95c15e30c39",
      "name": "Firestore: Get Counter",
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "qeGbKVHteKp2W2sr",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().slice(0, 10);\nconst doc = $input.first().json;\nconst currentDate = doc.fields?.date?.stringValue || '';\nconst currentCount = parseInt(doc.fields?.count?.integerValue || 0);\nconst newCount = currentDate === today ? currentCount + 1 : 1;\nreturn [{ json: { count: newCount, date: today } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -144
      ],
      "id": "bb162448-7668-46f4-81c1-569963155153",
      "name": "Code: Calculate Counter"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://firestore.googleapis.com/v1/projects/join-c7e60/databases/(default)/documents/system/dailyLimit?updateMask.fieldPaths=count&updateMask.fieldPaths=date",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"count\": { \"integerValue\": \"{{ $json.count }}\" },\n    \"date\": { \"stringValue\": \"{{ $json.date }}\" }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -144
      ],
      "id": "7a4949c2-5be8-4435-9f49-123244c40360",
      "name": "Firestore: Update Counter",
      "credentials": {
        "googleApi": {
          "id": "qeGbKVHteKp2W2sr",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "support@join.dimit.cc",
        "toEmail": "={{ $json.createdBy }}",
        "subject": "Your request has been received – Join Team",
        "html": "<p>Hi there,</p>\n<p>Thank you for reaching out! We received your email but were unable to automatically process it.</p>\n<p>Our team has been notified and will review your request manually within 1-2 business days.</p>\n<p>Best regards,<br>Join Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1136,
        -368
      ],
      "id": "3d19913c-6f7b-4149-9b1c-d0fcc6ab6ea5",
      "name": "Send Error Email",
      "webhookId": "bd00dae8-62d1-499b-a364-c47f197cfb1a",
      "credentials": {
        "smtp": {
          "id": "0Joz1qp5sIUQ2zuk",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "support@join.dimit.cc",
        "toEmail": "dm@dimit.cc",
        "subject": "=[Manual Review] New customer request",
        "html": "=<p><strong>Manual review needed — daily limit was reached.</strong></p>\n<p><strong>From:</strong> {{ $('Email Trigger (IMAP)').first().json.metadata['return-path'].replace(/[<>]/g, '') }}</p>\n<hr>\n<p>{{ $('Email Trigger (IMAP)').first().json.textPlain }}</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1632,
        -352
      ],
      "id": "0882c87f-cb83-420e-a7c5-f7472dcc9f5e",
      "name": "Email: Forward to Team",
      "webhookId": "5f6f83e8-082a-4ef1-a2d2-b1531453191e",
      "credentials": {
        "smtp": {
          "id": "0Joz1qp5sIUQ2zuk",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "support@join.dimit.cc",
        "toEmail": "={{ $('Email Trigger (IMAP)').first().json.metadata['return-path'].replace(/[<>]/g, '') }}\n",
        "subject": "Daily request limit reached – Join Issue Collector",
        "html": "<p>Hi there,</p>\n<p>Thank you for reaching out!</p>\n<p>Unfortunately, the daily limit of 10 AI-generated tickets has been reached for today. Your email has been received and will be <strong>manually reviewed</strong> by our team.</p>\n<p>You can expect a response within 1-2 business days.</p>\n<p>Best regards,<br>Join Team</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1840,
        -352
      ],
      "id": "6c3dad6f-d0a2-4abe-b7ed-89192e5fb1a4",
      "name": "Email: Limit Reply to Sender",
      "webhookId": "46fbbcdf-bb4e-4b4d-80a8-c6080d1297e8",
      "credentials": {
        "smtp": {
          "id": "0Joz1qp5sIUQ2zuk",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "IF: Limit Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Limit Reached?": {
      "main": [
        [
          {
            "node": "IF: Daily limit reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Daily limit reached?": {
      "main": [
        [
          {
            "node": "Email: Limit Reply to Sender",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "IF: Valid email content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Valid email content?": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firestore: Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Create Task": {
      "main": [
        [
          {
            "node": "Email: Confirmation to Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Confirmation to Sender": {
      "main": [
        [
          {
            "node": "Firestore: Get Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Get Counter": {
      "main": [
        [
          {
            "node": "Code: Calculate Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Calculate Counter": {
      "main": [
        [
          {
            "node": "Firestore: Update Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Limit Reply to Sender": {
      "main": [
        [
          {
            "node": "Email: Forward to Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "387765da-e2fd-469d-9890-e1756f37694d",
  "meta": {
    "instanceId": "820015eb7a1df54fb7759625d86aebd5d857c4bbe38b5fcaaef85619f61fea02"
  },
  "id": "o3AzI0rDiMnvriYv",
  "tags": []
}